@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
section{
    width: 100%;
    min-height: 90vh;
    height: max-content;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: stretch;
    padding: max(25px, 3%);
    background-color: #f8f7f3;
    .left{
        width: 50%;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: end;
        text-align: right;
        h2{
            font-size: 6.5em;
            line-height: 1em;
            margin-bottom: 0.3em;
        }
        p{
            font-size: 0.6em;
            width: 68%;
            font-weight: 500;
        }
        .logos{
            display: flex;
            justify-content: start;
            align-items: center;
            width: 100%;
            margin: 1em auto;
            padding: 5px;
            .logo{
                height: 2.5em;
                width: 2.5em;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                border: 1px solid rgb(25, 25, 25);
                margin-left: -5px;
            }
        }
        .metrics{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .metric{
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: end;
                .num{
                    font-size: 2em;
                    font-weight: 600;
                    font-style: italic;
                    position: relative;
                    &::before{
                        content: '+';
                        position: absolute;
                        font-size: 20px;
                        left: -15px;
                    }
                }
            }
        }
    }
    .right{
        width: 50%;
        position: relative;
        display: flex;
        padding-left: 2em;
        
        .colord{
            width: 100%;
            height: 100%;
            border-radius: 20px;
            background: url(game.png), linear-gradient(to right, rgb(255, 190, 59), rgb(255, 158, 13));
            overflow: hidden;
            background-size: cover;
            background-position: center 50%;
            position: relative;
        }
        .langwrapper{
            position: absolute;
            right: 0;
            display: flex;
            justify-content: end;
            top: 0;
            // background-color: #f8f7f3;
            .lang{
                height: 40px;
                width: 40px;
                background-color: black;
                border-radius: 50%;
                border: 5px solid #f8f7f3;
                position: relative;
                z-index: 2;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
            .art{
                height: 50px;
                width: 50px;
                border-radius: 25px;
                position: absolute;
                &.one{
                    left: -50px;
                    top: 0;
                    box-shadow: 25px -25px 0 0 #f8f7f3;
                }
                &.two{
                    bottom: -50px;
                    right: 0;
                    box-shadow: 25px -25px 0 0 #f8f7f3;
                }
            }
        }
        .optionwrapper{
            position: absolute;
            left: 0;
            display: flex;
            justify-content: end;
            bottom: 0;
            transform: translateX(calc(50% + 5px));
            .options{
                display: flex;
                flex-direction: column;
                border: 5px solid #f8f7f3;
                background-color: #f8f7f3;
                gap: 5px;
                border-radius: 25px;
                z-index: 2;
                .opn{
                    height: 40px;
                    overflow: hidden;
                width: 40px;
                background-color: black;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                }
            }
            .artt{
                height: 50px;
                width: 50px;
                border-radius: 25px;
                position: absolute;
                &.one{
                    left: 3px;
                    top: -50px;
                    box-shadow: -25px 25px 0 0 #f8f7f3;
                }
                &.two{
                    bottom: 0;
                    right: -50px;
                    box-shadow: -25px 25px 0 0 #f8f7f3;
                }
            }
        }
        
    }
}